
=bodyTxt
 font-family: 'Coiny', 'cursive'
=h2
 font-family: 'Indie Flower', cursive
=h3
 font-family: 'Berkshire Swash', cursive
=txt1
 font-family: 'Nanum Myeongjo', serif

body 
	background: #fff
	// margin: 5% 0 0 10%
	color: #111
	font-size: 24pt
	+h2

.main-wrapper  
	margin: 0 20% 0 30%
	position: relative
	// display: -webkit-flex
	// display: flex
	// -webkit-flex-direction: row
	// flex-direction: row
	// align-items: center;

.div-photo
	width: 60%  
	display: inline-block  
	margin: 0px  
	padding: 0px  
	+txt1
	
  

.img-rad
	border-radius: 50%  
a
    color: inherit
    text-decoration: none
    border-bottom: 1px dashed #E2DA6E
  
a:hover
	border: 0    
// .cursor
// 	animation: blinker 1.5s linear infinite  
  
// @keyframes blinker 50% opacity: 0

// .text  
//     color: #E2DA6E
// .DHeader
//     color: #42e5f4
